<%- include('../../partials/header'); %>

 
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-12 text-gray-800">Blank Page</h1>

</div>

<%- include('../../partials/footer'); %>
