<%- include('../../partials/header',{'pages':pages,'param':param}); %>


<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New Course</h1>
  </div>
  <div class="row">

    <div class="col-lg-12">
      
      <% if(!!locals.paramResult && paramResult.result == 'error'){ %>
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;ERROR :&nbsp;<%=paramResult.msg.toUpperCase() -%> 
      </div>
      <% } %>

     <% if(!!locals.paramResult && paramResult.result == 'ok'){ %>
      <div class="alert alert-primary" role="alert">
        <i class="fas fa-check"></i>&nbsp;&nbsp;Success :&nbsp; Course Saved !!!
      </div>
      <% } %>
      
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
           
            <div class="card-body">
                <div class="row">
                
                    <div class="col-lg-12">
                        <div class="p-1">
                         
                            <form id="formCreateCourse" name="formCreateCourse" method="post" target="_self"  Content-Type="multipart/form-data" action="/course/createCourse" class="user">
                    
                                <div class="form-group row">
                                    <div class="col-sm-8">
                                        <label>Course Name</label>
                                        <input type="text" class="form-control " id="txtCourseName" name="txtCourseName" placeholder="Course Name">
                                       
                                    </div>
                                    <div class="col-sm-4">
                                      <label>Category</label>
                                        <select class="form-control" id="ddlCourseCategory" name="ddlCourseCategory" placeholder="category">
                                            <option value="1">Web Development</option>
                                            <option value="2">Java</option>
                                            
                                        </select>  
                                      
                                    </div> 
                                </div>
                                <div class="form-group">
                                  <label>One Liner</label>
                                  <input type="text" class="form-control " id="txtOneLiner" name="txtOneLiner" placeholder="One Liner">
                                </div>
                                <div class="form-group row">
                                  <div class="col-sm-4">
                                      <label>Duration Hours</label>
                                      <input type="number" class="form-control " id="iDurationHours" name="iDurationHours" placeholder="Duration Hours"/>
                        
                                  </div>
                                  <div class="col-sm-4">
                                    <label>Language</label>
                                    <input type="text" class="form-control " id="txtLanguage" name="txtLanguage" placeholder="Language"/>            
                                  </div>
                                  <div class="col-sm-4">
                                    <label>Upload Cover Photo</label>
                                    <input type="file" class="form-control " style="padding: 3px;
                                     id="fileCoverPhoto" name="fileCoverPhoto" placeholder="Language"/>            
                                    
                                  
                                  </div>
                                
                                 </div>
                                 <div class="form-group">
                                  <label>Description</label>
                                  <textarea  class="form-control " id="txtDescription" name="txtDescription" ></textarea>
                                </div>
                                <div class="form-group">
                                  <div class="float-right ml-md-3">
                                    <a  onClick="doSaveCourse()" class="btn btn-success btn-icon-split float-right">
                                      <span class="icon text-white-50">
                                          <i class="fas fa-save"></i>
                                      </span>
                                      <span class="text">Create New Course</span>
                                  </a>
                                  </div>
                                  <div class="float-right">
                                  <a  onclick="doUpdateCourse()" class="btn btn-success btn-icon-split float-right">
                                    <span class="icon text-white-50">
                                      <i class="fas fa-pen"></i>
                                    </span>
                                    <span class="text">Update Course</span>
                                  </a>
                                 </div>
                                 <script>
                                    function doSaveCourse(){
                                      var form = document.getElementById('formCreateCourse');
                                      form.submit();
                                      return false;
                                    }
                                    function doUpdateCourse(){

                                      return false;
                                    }
                                 </script>
                              </div>
                                
                              
                               
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

   

</div>
</div>
<script>
  
   
  $(document).ready(function() {
          $('textarea').summernote({
  height: 200,                 // set editor height
  minHeight: null,             // set minimum height of editor
  maxHeight: null,             // set maximum height of editor
  focus: true                  // set focus to editable area after initializing summernote
});
       });
  
  </script>
<%- include('../../partials/footer'); %>
